@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+DE+VA+Guides&family=Playwrite+MX+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Poppins", serif;
  font-weight: 100;

  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}
#Hero_video {
  width: 100%;
  height: 85vh;
}
#Hero_video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#hero_blur {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 85%;
  background-color: rgba(0, 0, 0, 0.8);
}

/*marquee image */

#scroll-container img {
  height: 80px;
  margin-left: 20px;
}

/*create cursor Animation */
/* #main {
  height: 100vh;
  width: 100%;
  background-color: black;


} */

#cursor_none {
  background-image: url("./images/marquee_img/bg_img.avif");
  background-repeat: no-repeat;
  background-size: cover;
}


.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  margin-top: 50px;
  justify-content: center;
  background-image: url("./images/marquee_img/bg_img.avif");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
  
}


.card-container {
  perspective: 1000px;
  width: 350px;
  height: 500px;
  cursor: pointer;
  margin-top: 50px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0);
  transition: transform 0.6s;

}

.card-container.flipped .card {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  background-color: rgb(211, 203, 203);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.9),
  0 6px 20px 2px rgba(0, 0, 0, 0.19);

}



.card-back {
  transform: rotateY(180deg);
}
